<dl class="row">


  <dt class="col-sm-3">Date of visit</dt>
  <dd class="col-sm-9">
    <p><%=  @comment.date  %></p>
  </dd>
  <%if @comment.blog.present? %>
  <dt class="col-sm-3">My blog post</dt>
  <dd class="col-sm-9">
    <p><%= @comment.blog %></p>
  </dd>
  <% end %>
  <dt class="col-sm-3"></dt>
  <dd class="col-sm-9" id="commentcontent">
    <p><%= @comment.content %></p>
  </dd>
</dl>

<div class="controls">
  <% if @current_account.id == @comment.account_id %>
    <div class="controls">
      <%= link_to 'Edit comment', edit_comment_path(@comment.id) %>
      <%= link_to 'Delete comment', @comment, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>

  <% end %>
</div>
