
<ul>
  <li><%= @comment.date %></li>
  <li><%= @comment.blog %></li>
</ul>
<p> <%= @comment.content %> </p>


<div class="controls">
  <% if @current_account.id == params[:id].to_i %>
    <div class="controls">
      <%= link_to 'Edit comment', edit_comment_path(@comment) %>
      <%= link_to 'Delete comment', @comment, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
  <% end %>
  </div>
