<h1>Log in</h1>

<h2><%= flash[:error] %></h2>

<div class="form-group">

  <%= form_tag login_path do %>
  <%= label_tag :email %>
  <%= email_field_tag :email, nil, :class => "form-control" %>
  <br>
  <%= label_tag :password %>
  <%= password_field_tag :password, nil, :class => "form-control" %>
  <br>
  <%= submit_tag "Log in" %>
  <% end %>
</div>
