<h1><%= @avatar.display_name %></h1>
<ul>
  <li><%= @avatar.interests %></li>
  <% if @avatar.dob.present? %>
    <li><%= @avatar.dob.strftime '%A, %B %e, %Y' %></li>
  <% end %>
  <li><%= @avatar.location %></li>
  <li><%= @avatar.hiking_ability %></li>
</ul>

<div class="controls">
  <%= link_to 'Edit avatar', edit_avatar_path(@avatar) %>
  <%= link_to 'Delete avatar', @avatar, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
</div>
