<!DOCTYPE html>
<html>
  <head>
    <title>New South Trails</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Abel|Amatic+SC" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">New South Trails</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class= "navbar-nav">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#"
                id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

              <% if @current_account.present? %>
                <a class="dropdown-item" data-method="delete" href="/login"> Sign-Out</a>
                <a class="dropdown-item" href="/accounts/<%=@current_account.id%>"> View Account </a>
              <% else %>
                <a class="dropdown-item" href="/accounts/new"> Sign-Up </a>
                <a class="dropdown-item" href="/login"> Log-In </a>
              <% end %>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    <%= yield %>
    <footer class="footer">
      <div class="container">
        <span class="text-muted"> Created for GA by Mackenzie Radinoff </span>
      </div>
    </footer>


  </body>
</html>
