<h1><%= @account.display_name %> </h1>
<%= link_to image_tag(@account.image, :alt => @account.title, :class => 'feature'), @account.image %>
<ul>
  <li><%= @account.dob %></li>
  <li><%= @account.interests %></li>
  <li><%= @account.location %></li>
  <li><%= @account.hiking_ability %></li>
</ul>


<div class="controls">
  <%= link_to 'Edit account', edit_account_path(@account) %>
  <%= link_to 'Delete account', @account, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
</div>
