
<dl class="row">
  <dt class="col-sm-3", id="accountname"><%= @account.display_name %></dt>
  <dt class="col-sm-9"></dt>
  <% unless @account.display_photo.nil? %>
  <dd class="col-sm-3", id="accountphoto"> <img class="img-fluid" src="<%=@account.display_photo%>">
  </dd>
  <% end %>
  <dt class="col-sm-9"></dt>

  <dt class="col-sm-3">Date of Birth</dt>
  <dd class="col-sm-9">
    <p><%= @account.dob %></p>
  </dd>
  <dt class="col-sm-3">Interests</dt>
  <dd class="col-sm-9">
    <p><%= @account.interests %></p>
  </dd>
  <dt class="col-sm-3">Hiking Ability</dt>
  <dd class="col-sm-9">
    <p><%= @account.hiking_ability %></p>
  </dd>
</dl>

  <% unless @account.comments.empty? %>
  <h2>Comments</h2>
  <% @account.comments.each do |comment| %>
  <div class="media">
  <img class="mr-3" src="<%@account.display_photo%>">
  <div class="media-body">
    <h5 class="mt-0"><%@account.display_name%></h5>
    <%comment.content%>
    <br>
    Date of trip <%comment.date%>
    <br>
    Relevant blog <%comment.blog%>
  </div>
</div>
  <% end %>
<% end %>
<a href="/accounts">Back</a>

<% if @current_account.id == params[:id].to_i %>
  <div class="controls">
    <%= link_to 'Edit account', edit_account_path(@account) %>
  </div>
<% else %>
<% end %>
